<ng-container *ngIf="lootService.selectedCharacterId$ | async as selectedCharacterId">

  <div style="display: flex; flex-flow:column; padding: 12px;">

     <div style="display: flex; flex-flow: row; justify-content: space-between;">
        <span> Selected {{isCharacter(selectedCharacterId) ? 'character' : 'handout'}} {{ selectedCharacterId}}</span>
        <button mat-mini-fab (click)="lootService.hideLootSelection()">
           <mat-icon>close</mat-icon>
        </button>
     </div>
     <span> Everything is ready! </span>
     <ng-container *ngIf="worldService.worlds$ | async as worlds">
        <button mat-stroked-button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="worldsMenu" style="width: min-content;">Worlds</button>
        <mat-menu #worldsMenu="matMenu" [hasBackdrop]="false">
        <ng-container *ngFor="let world of worlds">
           <button mat-menu-item [matMenuTriggerFor]="lootSourceMenu">{{ world.name }}</button>
           <mat-menu #lootSourceMenu="matMenu" (click) = "$event.stopPropagation()" [hasBackdrop]="false">
           <button mat-menu-item *ngFor="let lootSource of world.lootSources" (click)="materializeLootSource(lootSource.id, selectedCharacterId)">{{ lootSource.name }}</button>
           </mat-menu>
        </ng-container>
        </mat-menu>
     </ng-container>

  </div>
</ng-container>
