:host {
  z-index: 11502!important;
  position: absolute;
  width: 600px;
  height: 400px;
  background: #5e5e5e;
  border-radius: 20px;
  border: 2px white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  background: #5e5e5e!important;
}
